html {
  color: white;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;

  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 1000pt;
}

button {
  color: inherit;
  font-family: inherit;
}

header {
  overflow: hidden;

  margin-top: 20pt;
  margin-bottom: 20pt;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.header-button {
  user-select: none;
  font-size: 2em;

}

.header-button:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;


  background-color: #4b4b4b;
}


.social-media-link {
  padding: 0;
  margin: 0;
  width: 30pt;
  height: 30pt;

}



#licence {
  margin: 5pt;
  flex: 1;
}
