@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



html {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;

  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;


}

button {
  color: inherit;
  font-family: inherit;
}





.textbox{
  background-color: gray;

}

.wrapper{
  margin: auto;
  max-width: 800pt;
  min-height: 100vh;
}


