
footer {
    box-sizing: border-box;
    width: 100%;
    background-color: darkslategray;
    text-align: center;
    padding: 5pt 5pt;
}

.footer-part{
    margin: 5pt;
}

 

.social-media-link {
    margin: 0pt;
    width: 20pt;
    height: 20pt;

}

#copyright {
    margin: 5pt;
    font-size: 0.7em;
    color: gray;
}


.hidden-link{
    color: inherit;
    text-decoration: none;
  }
