header {  
    margin-top: 20pt;
    margin-bottom: 20pt;
  }
  

  header ul{
    list-style: none;
    text-align: center;
  }

  header ul li{
    display: inline-block;
    margin: 20pt;
  }


  @media (max-width: 600px){
    header ul li{
      display: block;
    }
  }




  .header-button {
    font-size: 1.5em;
  }

  .title {
    padding: 5pt;
  
    user-select: none;
    text-align: center;
  
    font-size: 2.5em;
  }
  
  .header-button:hover {
    text-decoration: underline;
  }