header {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
  
    margin-top: 20pt;
    margin-bottom: 20pt;
  }
  
  .header-button {
    user-select: none;
    color: white;
    font-size: 1.5em;
  }

  .title {
    padding: 5pt;
  
    user-select: none;
    text-align: center;
  
    font-size: 2.5em;
  }
  
  .header-button:hover {
    text-decoration: underline;
  }